<header class="flex justify-between items-center min-h-full py-1 font-bold">

    <div class="contact min-w-min flex place-content-center" >
        <a class="mr-1" routerLink="/">
            <img src="assets/images/logo.svg" class="w-8 h-6"/>
        </a>
      </div>
    <!-- darkmode trigger -->
    <div (click)="switchTheme()" class="hidden md:block">
        <img [src]="isDarkMode?'assets/images/moon.svg':'assets/images/sun.svg'" >
    </div>
    <!-- right content -->
    <ul class="right-header font-light flex flex-row justify-between">
      <li i18n="project" class="header-item" routerLink="/project">
        Project
      </li>
      <li i18n="contact" class="header-item" routerLink="/contact">
        Contact
      </li>
      <li i18n="about" class="header-item" routerLink="/about">
        About
      </li>
    </ul>



  </header>
