<div class="flex justify-between items-center min-h-full py-1 font-bold">

    <a class="contact min-w-min" routerLink="/">
        <span class="mr-1">
            <img src="assets/images/logo.svg" />
        </span>

    </a>
    <!-- darkmode trigger -->
    <div (click)="switchTheme()">
        <img [src]="'assets/images/'+isDarkMode?'moon.svg':'sun.svg'" >
    </div>
    <!-- right content -->
    <div class="right-header">
      <a i18n="project" class="text-blue-500" routerLink="/project">
        Project
      </a>
      <a i18n="contact" class="text-blue-500" routerLink="/contact">
        Contact
      </a>
      <a i18n="about" class="text-blue-500" routerLink="/about">
        About
      </a>
    </div>



</div>
